@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/neat/app/assets/stylesheets/neat";

@font-face {
  font-family: "Bleeding Cowboy";
  src: url(../../Bleeding_Cowboys.ttf);

}

body {
 transition: all 500ms ease-in;
 background-image: radial-gradient(circle at 50% 50%, blue, black);
}

.clock-container {
  width: 600px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -75px 0 0 -300px;
  line-height: 150px;
  vertical-align: middle;
  text-align: center;
}

.clock {
  font-size: 6rem;
  font-family: "Bleeding Cowboy";
  color: white;
}

.time-clock {
  display: block;
}

.hex-clock {
  display: none;
}

.clock-container:hover .time-clock {
  display: none;
}

.clock-container:hover .hex-clock {
  display: block;
}

hr {
  border: 0;
  border-top: 10px solid white;
  margin-top: -30px;
  transition: all 500ms ease-in;
}
