@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/neat/app/assets/stylesheets/neat";

@font-face {
  font-family: "Bleeding Cowboy";
  src: url(../../Bleeding_Cowboys.ttf);

}
.clock-container {
  width: 600px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -100px 0 0 -300px;
  line-height: 200px;
  vertical-align: middle;
  text-align: center;
}

.clock-container::after {
  border-bottom: 5px solid black;
}

.clock {
  font-size: 6rem;
  font-family: "Bleeding Cowboy";
}

hr {
  width: 40px;
  border: 0;
  border-top: 10px solid black;
  margin-top: -60px;
}
