@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/neat/app/assets/stylesheets/neat";

@font-face {
  font-family: "Bleeding Cowboy";
  src: url(../../Bleeding_Cowboys.ttf);

}

body {
  // background-image: radial-gradient(rgba(250, 250, 250, .1) 0%, rgba(0, 0, 0, .1) 100%);
}

.clock-container {
  width: 600px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -100px 0 0 -300px;
  line-height: 200px;
  vertical-align: middle;
  text-align: center;
}

.clock-container::after {
  border-bottom: 5px solid black;
}

.clock {
  font-size: 6rem;
  font-family: "Bleeding Cowboy";
}

.time-clock {
  display: block;
}

.hex-clock {
  display: none;
}

.clock-container:hover .time-clock {
  display: none;
}

.clock-container:hover .hex-clock {
  display: block;
}

hr {
  border: 0;
  border-top: 10px solid black;
  margin-top: -30px;
}
